.modal--box {
  .unitize(top, 40);
  .box-shadow(0 0 4px 1px rgba(218, 218, 229, 0.8));
  width: 70%;
  margin: 0 15% 0 15%;
  background: #FFFFFF;
  position: fixed;
  z-index: 3001;
}

.modal--heading h2 {
  .unitize-margin(0, 0);
  .unitize-padding(10, 40, 10, 15);
}

.modal--heading .action--remove {
  .unitize(top, 10);
  .unitize(right, 10);
  position: absolute;
}

.modal--box .modal--content {
  .unitize-padding(10, 15);
}

.modal--box .modal--actions {
  .unitize-padding(0, 15, 15, 15);
}

.modal--box .modal--actions .btn {
  .unitize(10, 16, margin-bottom);
  width: 100%;
}

@media screen and (min-width: @tabletViewportWidth) {
  .modal--box {
    width: 60%;
    margin: 0 20% 0 20%;
  }

  .modal--box .modal--actions .btn {
    width: auto;
  }
}

@media screen and (min-width: @tabletLandscapeViewportWidth) {
  .modal--box {
    width: 50%;
    margin: 0 25% 0 25%;
  }
}
